{% extends "./layout.njk" %}

{% block content %}
<div id="office" class="carousel slide home-slider" data-ride="carousel" data-interval="3000">
  <ol class="carousel-indicators">
    {% for photo in photos %}
      <li data-target="#office" data-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active"{% endif %}></li>
    {% endfor %}
  </ol>
  <div class="carousel-inner">
    {% for photo in photos %}
      <div class="carousel-item{% if loop.first %} active{% endif %}">
        <img src="{{photo.url}}" class="d-block w-100" alt="...">
      </div>
    {% endfor %}
  </div>
</div>

    <div class="services-presentation">
        <ul>
            {% for service in services %}
            <li>
                {% if loop.first %}
                    <h4>{{service.label}}</h4>
                    <p>{{service.description}}</h4>
                {% else %}
                    <h4>{{service.label}}</h4>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="schedule">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Ouverture matin</th>
                    <th scope="col">Fermeture matin</th>
                    <th scope="col">Ouverture après-midi</th>
                    <th scope="col">Fermeture après-midi</th>
                </tr>
            </thead>
            <tbody>
                {% for schedule in schedules %}
                    <tr>
                        <td>{{ schedule.weekday }}</td>
                        {% if schedule.morningopeningtime == "00:00:00" and schedule.morningclosingtime == "00:00:00" and schedule.afternoonopeningtime == "00:00:00" and schedule.afternoonclosingtime == "00:00:00" %}
                            <td colspan="4">Fermé</td>
                        {% else %}
                            {% if schedule.morningopeningtime == "00:00:00" and schedule.morningclosingtime == "00:00:00" %}
                                <td colspan="2">Fermé</td>
                            {% else %}
                                <td>{{ schedule.morningopeningtime }}</td>
                                <td>{{ schedule.morningclosingtime }}</td>
                            {% endif %}
                            {% if schedule.afternoonopeningtime == "00:00:00" and schedule.afternoonclosingtime == "00:00:00" %}
                                <td colspan="2">Fermé</td>
                            {% else %}
                                <td>{{ schedule.afternoonopeningtime }}</td>
                                <td>{{ schedule.afternoonclosingtime }}</td>
                            {% endif %}
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="/appointment" class="btn btn-primary get-appointment">Prendre rendez-vous</a>
{% endblock %}