{% extends "./layout.njk" %}
{% block  scripts %}
<script src="/public/js/signup.js"></script>
{% endblock %}

{% block content %}
    <h1 class="text-center pt-5 pb-5">Créer un compte</h1>
    <form id="signup-form">
        <!-- First Name input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <input type="text" id="first-name" class="form-control" />
          <label class="form-label" for="first-name">Prénom</label>
        </div>
        <!-- Last Name input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <input type="text" id="last-name" class="form-control" />
          <label class="form-label" for="last-name">Nom de famille</label>
        </div>
        <!-- Email input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <input type="email" id="email" class="form-control" />
          <label class="form-label" for="email">Email</label>
        </div>
        <!-- Phone input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <input type="tel" id="phone" class="form-control" />
          <label class="form-label" for="phone">Téléphone</label>
        </div>
        <!-- Password input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <input type="password" id="password" class="form-control" />
          <label class="form-label" for="password">Mot de passe</label>
        </div>
        <!-- Submit button -->
        <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Créer le compte</button>
    </form>
    <div id="success" class="alert alert-success text-center invisible">
        Votre compte a été créé.
    </div>
    <div id="failure" class="alert alert-danger text-center invisible">
        Une erreur s'est produite.
    </div>
{% endblock %}
