{% extends "../layout.njk" %}

{% block content %}
    {% include "./menu.njk" %}
    <div class="container">
        <h2 class="text-center">Rendez-vous</h2>
    </div>

    <script src="/public/js/services.js"></script>
{% endblock %}
