{% extends "../layout.njk" %}

{% block content %}
    {% include "./menu.njk" %}
    <div class="container">
        <h2 class="text-center">Rendez-vous</h2>
        <div class="row mb-3">
            <div class="col-md-4">
                <input type="text" id="searchName" class="form-control" placeholder="Rechercher par nom de patient">
            </div>
            <div class="col-md-4">
                <input type="date" id="searchDate" class="form-control">
            </div>
            <div class="col-md-4">
                <select id="searchStatus" class="form-control">
                    <option value="">Tous les statuts</option>
                    <option value="pending">En attente</option>
                    <option value="confirmed">Confirmé</option>
                    <option value="cancelled">Annulé</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul id="appointmentList" class="list-group">
                    {% for appointment in appointments %}
                        <li class="list-group-item" data-id="{{ appointment.id }}" data-date="{{ appointment.date }}" data-name="{{ appointment.user.dataValues.firstName }} {{ appointment.user.dataValues.lastName }}" data-status="{{ appointment.status }}">
                            <strong>ID:</strong> {{ appointment.id }}<br>
                            <strong>Date:</strong> <span class="appointment-date" data-date="{{ appointment.date }}"></span><br>
                            <strong>Service:</strong> {{ appointment.service.dataValues.label }}<br>
                            <strong>Patient:</strong> {{ appointment.user.dataValues.firstName }} {{ appointment.user.dataValues.lastName }}<br>
                            <div class="form-group">
                                <label for="statusSelect_{{ appointment.id }}">Changer le statut:</label>
                                <select class="form-control" id="statusSelect_{{ appointment.id }}">
                                    <option value="pending" {% if appointment.status == 'pending' %}selected{% endif %}>En attente</option>
                                    <option value="confirmed" {% if appointment.status == 'confirmed' %}selected{% endif %}>Confirmé</option>
                                    <option value="cancelled" {% if appointment.status == 'cancelled' %}selected{% endif %}>Annulé</option>
                                </select>
                            </div>
                            <button class="btn btn-primary" onclick="updateStatus('{{ appointment.id }}')">Mettre à jour</button>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/public/js/appointments-bo.js"></script>
{% endblock %}
