<h2 class="text-center">Emploi du temps</h2>

<div id="schedules-container" class="table-responsive">
</div>

<form id="schedules-form" class="schedules-form">
  <label for="weekday">Jour de la semaine :</label>
  <select id="weekday" name="weekday">
    <option value="lundi">Lundi</option>
    <option value="mardi">Mardi</option>
    <option value="mercredi">Mercredi</option>
    <option value="jeudi">Jeudi</option>
    <option value="vendredi">Vendredi</option>
    <option value="samedi">Samedi</option>
    <option value="dimanche">Dimanche</option>
  </select><br><br>
    <div>
        <label for="morningopeningtime">Horaire d'ouverture (matin) :</label>
        <input type="time" id="morningopeningtime" name="morningopeningtime">
    </div>
    <div>
        <label for="morningclosingtime">Horaire de fermeture (matin) :</label>
        <input type="time" id="morningclosingtime" name="morningclosingtime"><br><br>
    </div>
    <div>
        <label for="afternoonopeningtime">Horaire d'ouverture (après-midi) :</label>
        <input type="time" id="afternoonopeningtime" name="afternoonopeningtime">
    </div>
    <div>
        <label for="afternoonclosingtime">Horaire de fermeture (après-midi) :</label>
        <input type="time" id="afternoonclosingtime" name="afternoonclosingtime"><br><br>
    </div>

  <input type="submit" value="Valider">
</form>

<script src="/public/js/schedules.js"></script>

